{% macro productSearchTemplate(i18n) %}
<div role="listitem" class="product-add-btn bg-white cursor-pointer shadow-sm rounded-lg p-4 mb-4 flex" data-action="setProductAction" data-code="" data-description="Producto Generico">
    <div class="mr-4 flex items-center">
        <span class="text-sky-500"><i class="fas fa-2x fa-tags"></i></span>
    </div>
    <div class="flex-1">
        <p class="text-sm uppercase font-semibold text-gray-800">XXX-XXX</p>
        <p class="text-base text-gray-600">PRODUCTO DE ENTRADA LIBRE</p>
    </div>
    <div class="w-1/4 ml-4 flex-col items-center">
        <div class="text-sm uppercase font-semibold px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full">0</div>
        <div class="text-sm lowercase font-semibold mt-2 px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full">
            &infin;
        </div>
    </div>
</div>
<% it.items.forEach(function(item){ %>
<div role="listitem" class="bg-white cursor-pointer shadow-sm rounded-lg p-4 mb-4 flex" data-action="setProductAction" data-code="<%= item.code %>" data-description="<%= item.description %>">
    <div class="mr-4 flex items-center">
        <span class="bg-slate-gray-200"><i class="fas fa-3x fa-file"></i></span>
    </div>
    <div class="flex-1">
        <p class="text-sm uppercase font-semibold text-gray-800">{{ i18n.trans('code') }} : <%= item.code %></p>
        <p class="text-base text-gray-600"><%= item.description %></p>
        <% if(item.detail) { %>
        <p><%= item.detail %></p>
        <% } %>
    </div>
    <div class="w-1/4 ml-4 flex-col items-center">
        <div class="text-sm font-semibold px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full">
            <%= item.price %>
        </div>
        <div class="text-sm lowercase font-semibold mt-2 px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full
            pointer-events-auto" data-action="stockDetailAction" data-code="<%= item.code %>">
            <%= item.stock | 0 %> {{ i18n.trans('available') }}
        </div>
    </div>
</div>
<% }) %>
{% endmacro %}

{% macro customerSearchTemplate() %}
<% if(it.items.length === 0) { %>
<tr>
    <td colspan="20" class="p-4">No se encontraron clientes</td>
</tr>
<% } %>
<% it.items.forEach(function(customer){ %>
<tr class="bg-blue-100 cursor-pointer hover:bg-blue-500 hover:text-white">
    <td class="p-4 font-medium add-customer-btn" data-action="setCustomerAction" data-code="<%= customer.code %>" data-description="<%= customer.description %>">
        <%= customer.description %>
    </td>
</tr>
<% }) %>
{% endmacro %}

{% macro cartTemplate(i18n) %}
<% if(it.lines.length === 0) { %>
<div class="h-full flex justify-center items-center">
    <i class="fa fa-shopping-cart fa-5x text-slate-gray-300"></i>
</div>
<% } %>
<% it.lines.forEach(function(value, index) { %>
<div class="flex px-2 py-2 w-full select-none text-slate-gray-700 border-b-4 border-dotted border-opacity-50">
    <div class="flex items-center">
        <button class="btn btn-icon bg-gray-200 text-slate-800 focus:ring-gray-600" data-action="editProductAction" data-index="<%= index %>">
            <i class="fas fa-pen-alt"></i>
        </button>
    </div>
    <div class="flex w-full mx-2" data-index="<%= index %>">
        <label class="flex items-center">
            <input type="text" class="h-12 w-13 font-medium text-center bg-slate-gray-200" value="<%= value.cantidad %>" data-index="<%= index %>" data-field="cantidad" data-action="editProductFieldAction" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value">
        </label>
        <div class="flex-1 mx-2">
            <h4 class="font-semibold"><%= value.referencia %> - <%= value.descripcion %></h4>
            <span class="text-blue-500 uppercase">
                {{ i18n.trans('valor unidad') }}: <%= formatNumber.new(value.pvpunitario, "$") %> /
                {{ i18n.trans('total') }}: <%= formatNumber.new(Math.round(value.pvptotal), "$") %>
            </span>
        </div>
    </div>
    <div class="flex items-center">
        <button class="btn btn-icon btn-danger" data-action="deleteProductAction" data-index="<%= index %>">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>
<% }) %>
{% endmacro %}

{% macro lastOrdersTemplate() %}
<% it.items.forEach(function(order){ %>
<tr class="bg-blue-100 hover:bg-yellow-200">
    <td class="text-center"><%= order.codigo %></td>
    <td class="text-center"><%= order.tipodoc %></td>
    <td class="text-right"><%= order.fecha %></td>
    <td class="text-right"><%= order.hora %></td>
    <td class="text-right"><%= order.total %></td>
    <td>
        <div class="flex justify-center py-1">
            <button type="button" class="btn btn-icon btn-primary resume-order-btn" data-action="printOrderAction" data-code="<%= order.idoperacion %>">
                <i class="fas fa-print fa-sm"></i>
            </button>
        </div>
    </td>
</tr>
<% }) %>
{% endmacro %}

{% macro productEditTemplate(headers, columns) %}
{% for column in columns %}
{%- if column.data == 'referencia' -%}
<div class="form-group col-span-2">
    <label class="font-semibold uppercase">{{ headers[loop.index0] }}</label>
    <input type="{{ column.type }}" class="form-control" value="<%= it.referencia %>" data-action="editProductFieldAction" data-index="<%= it.index %>" data-field="{{ column.data }}" readonly>
</div>
{%- elseif column.data == 'descripcion' %}
<div class="form-group col-span-2">
    <label class=" font-semibold uppercase">{{ headers[loop.index0] }}</label>
    <textarea class="form-control" rows="3" data-action="editProductFieldAction" data-index="<%= it.index %>" data-field="{{ column.data }}" {{ column.readonly }}><%= it.descripcion %>
                </textarea>
</div>
{% else -%}
<div class="form-group">
    <label class="font-semibold uppercase">{{ headers[loop.index0] }}</label>
    <input class="form-control" type="{{ column.type }}" value="<%= it.{{ column.data }} %>" step=".001" data-index="<%= it.index %>" data-action="editProductFieldAction" data-field="{{ column.data }}" {{ column.readonly }} hola="chao1aa">
</div>
{% endif -%}
{% endfor %}
{% endmacro %}

{% macro pausedOrdersTemplate() %}
<% if(it.items.length === 0) { %>
<tr>
    <td colspan="20" class="p-4">
        Ninguna operacion registrada
    </td>
</tr>
<% } %>
<% it.items.forEach(function(order){ %>
<tr class="bg-blue-100 hover:bg-yellow-200">
    <td class="text-center"><%= order.nombrecliente %></td>
    <td>
        {% for line in fsc.session.getStorage().getOrderOnHold(order.idpausada).lines %}
        <li>{{ line.descripcion | capitalize }}</li>
        {% endfor %}
    </td>
    <td class="text-right"><%= order.fecha %></td>
    <td class="text-right"><%= order.hora %></td>
    <td class="text-right"><%= order.total %></td>
    <td>
        <div class="flex justify-center py-1">
            <button type="button" class="btn btn-icon btn-primary mr-2 resume-order-btn" data-action="resumeOrderAction" data-code="<%= order.idpausada %>">
                <i class="fas fa-file-signature fa-sm"></i>
            </button>
            <button type="button" class="btn btn-icon btn-danger delete-order-btn" data-action="deleteOrderAction" data-code="<%= order.idpausada %>">
                <i class="fas fa-trash fa-sm"></i>
            </button>
        </div>
    </td>
</tr>
<% }) %>
{% endmacro %}

{% macro paymentListTemplate(i18n) %}
<% it.payments.forEach(function(value, index) { %>
<div class="bg-white shadow rounded-lg p-4 m-4 flex">
    <div class="mr-4 flex items-center">
        <span class="bg-slate-gray-200"><i class="fas fa-1x fa-plus-circle"></i></span>
    </div>
    <div class="flex-1">
        <p class="text-sm uppercase font-bold text-gray-600"><%= value.description %></p>
        <p class="text-lg font-bold text-blue-500"><%= formatNumber.new(value.amount, "$")  %></p>
    </div>
    <div class="flex items-center">
        <button class="btn btn-icon btn-danger" data-action="deletePaymentAction" data-index="<%= index %>">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>
<% }) %>
{% endmacro %}

{% macro stockDetailTemplate() %}
<% if(it.items.length === 0) { %>
<tr>
    <td colspan="20" class="p-4">No se encontro stock</td>
</tr>
<% } %>
<% it.items.forEach(function(stock){ %>
<tr class="bg-blue-100">
    <td class="p-4 font-medium">
        <%= stock.warehouse %>
    </td>
    <td class="p-4 font-medium">
        <%= stock.stock %> disponibles
    </td>
</tr>
<% }) %>
{% endmacro %}

{% macro message(log, types, style) %}
{%- set messages = log.read('', types) -%}
{%- if messages | length > 0 -%}
<div class="alert alert-{{ style }}" role="alert" data-delay="2000">
    {# <div>
                <button type="button" class="text-{{ style }}-800 ml-auto close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div> #}
    <div>
        {% for msg in messages %}
        <div>{{ msg.message | raw }}</div>
        {% endfor %}
    </div>
</div>
{%- endif -%}
{% endmacro %}

{% macro messageTemplate() %}
<% it.messages.forEach(function(message){ %>
<div class="alert alert-<%= message.type %>" role="alert">
    <div>
        <%~ message.message %>
    </div>
</div>
<% }) %>
{% endmacro %}