<div class="p-4">
    <label class="text-gray-400 input-icon">
        <i class="fa fa-sm fa-search"></i>
        <input type="search" id="productSearchBox" placeholder="{{ i18n.trans('search') }}">
    </label>
</div>
{# <div class="px-4 overflow-hidden">
    <div id="productTagList" class="flex overflow-x-auto pl-2 py-2 space-x-4">
        {% for element in fsc.getCategories() %}
            <button class="product-tag" data-code="{{ element.code }}">
                <i class="mr-4 fa fa-tag"></i>
                <span>{{ element.description }}</span>
            </button>
        {% endfor %}
    </div>
</div> #}
<div class="flex-1 my-4 px-4 overflow-y-auto">
    <div id="productSearchResult" role="list">
        <div role="listitem" class="product-add-btn bg-white cursor-pointer shadow-sm rounded-lg p-4 mb-4 flex" data-action="setProductAction" data-code="" data-description="Producto Generico">
            <div class="mr-4 flex items-center">
                <span class="text-sky-500"><i class="fas fa-4x fa-tags"></i></span>
            </div>
            <div class="flex-1">
                <p class="text-sm uppercase font-semibold text-gray-800">XXX-XXX</p>
                <p class="text-base text-gray-600">PRODUCTO DE ENTRADA LIBRE</p>
            </div>
            <div class="w-1/4 ml-4 flex-col items-center">
                <div class="text-lg uppercase font-semibold px-3 py-0.5 bg-light-green text-white rounded-full">
                    {{ fsc.toolBox().coins().format(0) }}
                </div>
                <div class="text-lg lowercase font-semibold mt-2 px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full">
                    &infin;
                </div>
            </div>
        </div>
        {% for element in fsc.getHomeProducts()  %}
        <div role="listitem" class="product-add-btn bg-white cursor-pointer shadow-sm rounded-lg p-4 mb-4 flex" data-action="setProductAction" data-code="{{ element.code }}" data-description="{{ element.description }}">
            <div class="mr-4 flex items-center">
                <span>
                    {% if element.image_pos!=null %}
                    <img src="{{ element.image_pos }}" alt="" width="150">
                    {% else %}
                    <i class="fas fa-6x fa-box"></i>
                    {% endif %}
                </span>
            </div>
            <div class="flex-1">
                <h4 class="text-lg text-gray-600 font-semibold uppercase">{{ element.description }}</h4>
                <p class="text-sm uppercase  text-gray-800"> {{ i18n.trans('code') }} : {{ element.code }}</p>
            </div>
            <div class="w-1/4 ml-4 flex-col items-center">
                <div class="text-lg uppercase font-semibold px-3 py-0.5 bg-light-green text-white rounded-full">
                    {{ fsc.toolBox().coins().format(element.price | default('0')) }}
                    <!-- {{ element.price|number_format(0, '.', '.') }} -->
                </div>
                <div class="text-lg lowercase font-semibold mt-2 px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full
                    pointer-events-auto" data-action="stockDetailAction" data-code="{{ element.code }}">
                    {{ element.stock | default('0') }} {{ i18n.trans('available') }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>