{#
/**
 *  This file is part of POSpro plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}

<div id="paymentModal" class="modal hidden">
    <!--content-->
    <div class="modal-content my-15">
        <!--header-->
        <div class="modal-header">
            <h2 class="text-2xl text-slate-gray-700 font-semibold">{{ i18n.trans('add-payment') }}</h2>
            <button class="btn btn-icon btn-danger ml-auto" data-toggle="modal"
                    data-target="paymentModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <!--body-->
        <div class="p-5 flex-1">
            <div class="mb-5">
                <label class="input-icon text-slate-gray-800">
                    <i class="fa fa-sm fa-dollar-sign"></i>
                    <input type="number" id="paymentApplyInput" placeholder="0">
                </label>
            </div>
            <div class="flex flex-wrap justify-center gap-4">
                <button class="btn btn-secondary payment-add-btn" data-action="recalculatePaymentAction" data-value="balance">
                    <span class="w-full text-center">{{ i18n.trans('balance') }}</span>
                </button>
                {% for element in fsc.getDenominations() %}
                    <button class="btn btn-primary payment-add-btn" data-action="recalculatePaymentAction" data-value="{{ element.valor }}">
                        <i class="fas fa-plus-circle mr-2"></i>
                        <span class="w-full text-center">{{ fsc.toolBox().coins().format(element.valor) }}</span>
                    </button>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button id="paymentApplyButton" class="btn btn-primary ml-auto" data-action="setPaymentAction"
                    data-toggle="modal" data-target="paymentModal">
                <i class="fa fw fa-save"></i>
                <span class="mx-2 text-center">{{ i18n.trans('apply') }}</span>
            </button>
        </div>
    </div>
</div>
