{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- Close Session Modal -->
<div id="closeSessionModal" class="modal hidden">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="text-2xl text-slate-gray-700 font-semibold">{{ i18n.trans('cashup') }} &centerdot; {{ fsc.getTerminal().nombre }}</h2>
            <button class="btn btn-icon btn-success ml-auto" title="{{ i18n.trans('print-z') }}" data-action="printClosingVoucher">
                <i class="fa fa-print fa-fw"></i>
            </button>
            <button class="btn btn-icon btn-danger ml-2" data-toggle="modal" data-target="closeSessionModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <form id="closeSessionForm" method="POST">
                <input type="hidden" name="action" value="close-session">
                <p>Detalle de monedas / billetes</p>
                <div class="grid grid-cols-4 gap-4 mt-4">
                    {% for denominacion in fsc.getDenominations() %}
                        <div class="form-group">
                            <span class="text-xl font-medium text-left">{{ denominacion.valor }} X </span>
                            <input name="cash[{{ denominacion.valor }}]" type="number" value="0">
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            No hay denominaciones registradas, registralas en.
                            <a href="{{ i18n.trans('EditConfiguracionPOS') }}">{{ i18n.trans('pos-settings') }}</a>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-warning btn-round" id="closeSessionButton" data-action="closeSessionAction"
                    data-toggle="modal" data-target="closeSessionModal">
                {{ i18n.trans('continue') }}</button>
        </div>
    </div>
</div>
