{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<div id="lastOrdersModal" class="modal hidden">
    <!--content-->
    <div class="modal-content modal-content-lg my-15">
        <!--header-->
        <div class="modal-header">
            <h2 class="text-2xl text-slate-gray-700 font-semibold">{{ i18n.trans('last-orders') }}</h2>
            <button class="btn btn-icon btn-danger ml-2" data-toggle="modal" data-target="lastOrdersModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <!--body-->
        <div class="modal-body p-0">
            <div class="overflow-hidden">
                <table class="w-full table-bordered" >
                    <thead class="bg-blue-500">
                        <tr>
                            <th class="py-3 text-lg text-white" scope="col">{{ i18n.trans('code') }}</th>
                            <th class="py-3 text-lg text-white" scope="col">{{ i18n.trans('description') }}</th>
                            <th class="py-3 text-lg text-white" scope="col">{{ i18n.trans('date') }}</th>
                            <th class="py-3 text-lg text-white" scope="col">{{ i18n.trans('time') }}</th>
                            <th class="py-3 text-lg text-white" scope="col">{{ i18n.trans('total') }}</th>
                            <th class="py-3 text-lg text-white"><i class="fas fa-print"></i></th>
                        </tr>
                    </thead>
                    <tbody id="lastOrdersList" class="font-semibold text-slate-gray-700">
                        {% set total = 0 %}
                        {% for operation in fsc.session.getStorage().getLastOrders() %}
                        {% set total = total + operation.total %}
                        <tr class="bg-blue-100 hover:bg-yellow-200">
                            <td class="text-center py-3">{{ operation.codigo }}</td>
                            <td class="text-left">
                                <ul>
                                    {% for line in operation.getDocument().getLines() %}
                                    <li>({{ line.cantidad }}) {{ line.descripcion | capitalize }}  </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center">{{ operation.fecha }}</td>
                            <td class="text-center">{{ operation.hora }}</td>
                            <td class="text-center">{{ fsc.toolBox().coins().format(operation.total) }}</td>
                            <td>
                                <div class="flex justify-center py-1">
                                    <button type="button" class="btn btn-icon btn-primary resume-order-btn" data-action="printOrderAction" data-code="{{ operation.idoperacion }}">
                                        <i class="fas fa-print fa-sm"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="20" class="p-4">
                                Ninguna operacion registrada
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="bg-blue-500">
                        <tr>
                            <th class="py-3 text-lg text-white" colspan="4">
                                Total Vendido
                            </th>
                            <th class="py-3 text-lg text-white" colspan="2">
                                {{ fsc.toolBox().coins().format(total) }}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <span><i class="fas fa-arrow-down"></i> Deslice para ver mas operaciones</span>
        </div>
    </div>
</div>