<div id="stockDetailModal" class="modal hidden">
    <!--content-->
    <div class="modal-content md:modal-content-sm my-15">
        <!--header-->
        <div class="modal-header">
            <h2 class="text-2xl text-slate-gray-700 font-semibold">{{ i18n.trans('stock-detail') }}</h2>
            <button class="btn btn-icon btn-danger ml-2" data-toggle="modal" data-target="stockDetailModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <!--body-->
        <div class="modal-body p-0">
            <div class="overflow-hidden">
                <table class="w-full">
                    <tbody id="stockDetailList" class="font-semibold text-slate-gray-700">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <span>Deslice para ver mas elementos</span>
        </div>
    </div>
</div>
