{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MicroTemplate.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('Plugins/POS/Assets/CSS/pos.app.css') }}"/>
{% endblock %}
{% block javascripts %}
<script>
    var formatNumber = {
    separador: ".", // separador para los miles
    sepDecimal: ',', // separador para los decimales
    formatear: function(num) {
        num = parseInt(num);
        num += '';
        var splitStr = num.split('.');
        var splitLeft = splitStr[0];
        var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
        var regx = /(\d+)(\d{3})/;
        while (regx.test(splitLeft)) {
            splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
        }
        return this.simbol + splitLeft + splitRight;
    },
    new: function(num, simbol) {
        this.simbol = simbol || '';
        return this.formatear(num);
    }
}

function round_money(value) {
    value = Math.round(value)
    value = value.toString();
    if (value > 1000) {
        let centenas = value.substring(value.length - 2) // three last numbers
        centenas = parseInt(centenas)
        if (centenas > 0 && centenas <= 50) {
            let faltante = parseInt(50 - centenas)
            value = parseInt(value)
            value += faltante
        } else if (centenas > 50 && centenas <= 99) {
            let faltante = parseInt(100 - centenas)
            value = parseInt(value)
            value += faltante
        }
        // if (centenas > 0 && centenas <= 999) {
        //     faltante = parseInt(1000 - centenas)
        //     value = parseInt(value)
        //     value += faltante
        // }
    }
    return parseInt(value)
}
</script>
{% endblock %}
{% block fullBody %}
    <body class="bg-slate-100 text-slate-800">
    {% block messages %}
        {% from 'Macro/POS.html.twig' import message as alert %}
        <div id="alert-container" class="alert-container">
            {{- alert(log, ['warning', 'error', 'critical'], 'warning') -}}
            {{- alert(log, ['notice'], 'success') -}}
            {{- alert(log, ['info'], 'info') -}}
        </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block modals %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    </body>
{% endblock %}
